body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(253, 222, 227);
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  #cat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .cat-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    width: 300px;
    background-color: pink;
  }
  
  .cat-card h3 {
    margin-top: 0;
  }
  #kitty-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  button {
    padding: 8px 16px;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(241, 38, 106);
  }
  